Practice Assignment

In [ ]:
#1.
name= "Hi How are you? Started learning python. it's really interesting."
print(name)

Hi How are you? Started learning python. it's really interesting.

In [ ]:
name[-5:-10:-1]

'tsere'

In [ ]:
#1.a
name[:]

"Hi How are you? Started learning python. it's really interesting."

In [ ]:
len(name)

65

In [ ]:
#1.b
name[-10:-5]

'teres'

In [ ]:
#1.c
name[3:12]

'How are y'

In [ ]:
#1.d
name[12:3]

''

In [ ]:
#1.e
name[5:6]

'w'

In [ ]:
#1.f
name[-4:-12]

''

In [ ]:
#1.g
name[::2]

'H o r o?Satdlann yhn tsral neetn.'

In [ ]:
#1.h
name[::-2]

'.nteen larst nhy nnaldtaS?o r o H'

In [ ]:
#2
l2=['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
l2

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
#2.a
l2[:]

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
#2.b
l2[::3]

['a', 30, 300, 'major']

In [ ]:
#2.c
l2[::-2]

['major', 400, 100, 30, 'b']

In [ ]:
len(l2)

10

In [ ]:
#2.d
l2[8]

'Happy'

In [ ]:
#2.d
l2[-2]

'Happy'

In [ ]:
#2.e
type(l2[4])

str

In [ ]:
#2.f
l2.index(100)

5

In [ ]:
l2.index(300)

6

In [ ]:
l2.index(400)

7

In [ ]:
#3.
l3=[1,2,3,5,['a','b','work hard'],100,200,'success']

In [ ]:
l3

[1, 2, 3, 5, ['a', 'b', 'work hard'], 100, 200, 'success']

In [ ]:
#3.a
l3[4]

['a', 'b', 'work hard']

In [ ]:
l3[4][2]

'work hard'

In [ ]:
#3.b
l3[1:5]

[2, 3, 5, ['a', 'b', 'work hard']]

In [ ]:
#3.c
l3[7]

'success'

In [ ]:
#3.d
l3[7][2]

'c'

In [ ]:
#3.e
l3[7][2:]

'ccess'

In [ ]:
#3.f
l3[:3]

[1, 2, 3]

In [ ]:
#3.g
l3[3:]

[5, ['a', 'b', 'work hard'], 100, 200, 'success']

In [ ]:
#4.
l3[4][2]='bee'

In [ ]:
#4.
l3[4].remove("bee")

In [ ]:
#5.
d={'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']}
l3.append(d)

In [ ]:
l3

[1,
 2,
 3,
 5,
 ['a', 'b'],
 100,
 200,
 'success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
len(l3)

9

In [ ]:
l3[-1]['insect']

['bee', 'moth']

In [ ]:
#5.
d1 = {'a':10, 'b':20, 'c' : 30}

In [ ]:
l3.insert(2,d1)

In [ ]:
l3

[1,
 2,
 {'a': 10, 'b': 20, 'c': 30},
 3,
 5,
 ['a', 'b'],
 100,
 200,
 'success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
#9.
l3[9]

{'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}

In [ ]:
l4 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, 'Success', (200,300, 'Hundreds')]

In [ ]:
l4

[1,
 2,
 3,
 5,
 (90, 40, 50, 10),
 'Python',
 400,
 ['a', 'b', 'work hard'],
 100,
 200,
 'Success',
 (200, 300, 'Hundreds')]

In [ ]:
l4[4][2]

50

In [ ]:
l4[5][:]

'Python'

In [ ]:
l4[4][:]

(90, 40, 50, 10)

In [ ]:
l4[1:5]

[2, 3, 5, (90, 40, 50, 10)]

In [ ]:
l4[5]

'Python'

In [ ]:
l4[5][3:-1]

'ho'

In [ ]:
l4[-1]

(200, 300, 'Hundreds')

In [ ]:
l4[-4:-3]

[100]

In [ ]:
l4[-10:-4]

[3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard']]

In [ ]:
l4[7][2]

'work hard'

In [ ]:
l4[-7][2:]

'thon'

In [ ]:
l4[:-3]

[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]

In [ ]:
l4[-3:]

[200, 'Success', (200, 300, 'Hundreds')]

In [ ]:
#11
Marks=input("Enter marks :")
if Marks.isdigit():
  Marks=int(Marks)
  if Marks > 80 :
    print('distinction')
  elif Marks > 60:
    print('first class')
  elif Marks > 40:
    print('second class')
  elif Marks > 35:
    print('pass')
  else:
    print('fail')
else:
  print('wrong format')

Enter marks :85
distinction

In [ ]:
#12
salary = float(input("Enter employee salary in LPA: "))
rating = input("Enter rating (A / B / C / D): ").upper()

increment = 0

if salary <= 5:
    if rating == 'A':
        increment = 0.16
    elif rating == 'B':
        increment = 0.12
    elif rating == 'C':
        increment = 0.10
    elif rating == 'D':
        increment = 0.06

elif salary <= 10:
    if rating == 'A':
        increment = 0.14
    elif rating == 'B':
        increment = 0.10
    elif rating == 'C':
        increment = 0.08
    elif rating == 'D':
        increment = 0.06

elif salary <= 15:
    if rating == 'A':
        increment = 0.08
    elif rating == 'B':
        increment = 0.06
    elif rating == 'C':
        increment = 0.04
    elif rating == 'D':
        increment = 0

elif salary <= 23:
    if rating == 'A':
        increment = 0.07
    elif rating == 'B':
        increment = 0.05
    elif rating == 'C':
        increment = 0.04
    elif rating == 'D':
        increment = 0

else:
    print("Salary out of range")
    increment = 0

increment_amount = salary * increment
new_salary = salary + increment_amount

print("Increment Amount:", increment_amount, "LPA")
print("New Salary:", new_salary, "LPA")

Enter employee salary in LPA: 15
Enter rating (A / B / C / D): A/B/C/D
Increment Amount: 0.0 LPA
New Salary: 15.0 LPA

In [ ]:
subject = input("Enter subject: ").upper()
analytics = input("Analytics (Y/N): ").upper()
hostel = input("Hostel (Y/N): ").upper()
food = int(input("Food months: "))
transport = input("Transportation (semester/annual): ")

total = 200000

if analytics == 'Y' and subject != 'DS':
    total = total + 20000

if hostel == 'Y':
    total = total + 200000

total = total + (food * 2000)

if transport == 'semester':
    total = total + (13000 * 2)
else:
    total = total + 13000

print("Total Annual Cost:", total)

Enter subject: FINANCE
Analytics (Y/N): Y
Hostel (Y/N): Y
Food months: 3
Transportation (semester/annual): SEMESTER
Total Annual Cost: 439000

In [ ]:
#17.Type casting
a = 100

In [ ]:
b = str(a)
print(b)

100

In [ ]:
c = list(a)

TypeError: 'int' object is not iterable

In [ ]:
d = tuple(a)

TypeError: 'int' object is not iterable

In [ ]:
e = dict(a)

TypeError: 'int' object is not iterable

In [ ]:
f = set(a)

TypeError: 'int' object is not iterable

In [ ]:
g = float(a)
print(g)

100.0

In [ ]:
#18.Type casting
city = "Pune"

In [ ]:
a = int(city)

ValueError: invalid literal for int() with base 10: 'Pune'

In [ ]:
b = float(city)

ValueError: could not convert string to float: 'Pune'

In [ ]:
c = list(city)
print(c)

['P', 'u', 'n', 'e']

In [ ]:
d = tuple(city)
print(d)

('P', 'u', 'n', 'e')

In [ ]:
e = dict(city)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:
f = set(city)
print(f)

{'P', 'n', 'u', 'e'}

In [ ]:
#19.Type casting
marks = [20, 18, 15, 17, 18]

In [ ]:
a = int(marks)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [ ]:
b = float(marks)

TypeError: float() argument must be a string or a real number, not 'list'

In [ ]:
c = list(marks)
print(c)

[20, 18, 15, 17, 18]

In [ ]:
d = tuple(marks)
print(d)

(20, 18, 15, 17, 18)

In [ ]:
e = dict(marks)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [ ]:
f = set(marks)
print(f)

{17, 18, 20, 15}

List Operation

In [ ]:
#10.List operation
snames = []

In [ ]:
snames.append(20)
print(snames)

[20]

In [ ]:
snames.extend([30])
print(snames)

[20, 30]

In [ ]:
snames.append(40)
snames.append(50)
print(snames)

[20, 30, 40, 50]

In [ ]:
snames.extend("WORK")
print(snames)

[20, 30, 40, 50, 'W', 'O', 'R', 'K']

In [ ]:
combo = [1, 'a', 'b', 2, 3]
print(combo)

[1, 'a', 'b', 2, 3]

In [ ]:
combo = combo + snames
print(combo)

[1, 'a', 'b', 2, 3, 20, 30, 40, 50, 'W', 'O', 'R', 'K']

In [ ]:
snames.append(combo)
print(snames)

[20, 30, 40, 50, 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3, 20, 30, 40, 50, 'W', 'O', 'R', 'K']]

In [ ]:
snames.extend(combo)
print(snames)

[20, 30, 40, 50, 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3, 20, 30, 40, 50, 'W', 'O', 'R', 'K'], 1, 'a', 'b', 2, 3, 20, 30, 40, 50, 'W', 'O', 'R', 'K']

In [ ]:
#11. Create lists and add l1 at 4th position of l3
l1 = [10, 20]
l3 = [1, 2, 3, 4, 5, 6, 7]

l3.insert(3, l1)
print(l3)

[1, 2, 3, [10, 20], 4, 5, 6, 7]

In [ ]:
#12.Perform operations on collection list
collection = [1, 2, 3, ['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10]

for i in collection:
    if type(i) == int or type(i) == float:
        print(i * 5)

5
10
15
500
102.5
450.5

In [ ]:
collection.remove("Nisha")
print(collection)

[1, 2, 3, ['a', 'b', 'c'], 100, 20.5, 90.1]

In [ ]:
index = collection.index(20.50)
print(index)

5

In [ ]:
#13.Create a comprehensive list for square upto 10
squares = [i*i for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#14.Create comprehensive list to find numbers divisible by 13 till 200
div_13 = [i for i in range(1, 201) if i % 13 == 0]
print(div_13)

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [ ]:
#15.Create  list which is divisible by 4 from 300 to 400
div_4 = [i for i in range(300, 401) if i % 4 == 0]
print(div_4)

[300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400]

In [ ]:
#16.Create a comprehensive list for all combinations of x and y
x = int(input("Enter x: "))
y = int(input("Enter y: "))

x_list = [i for i in range(x)]
y_list = [j for j in range(y)]

result = [[i, j] for i in x_list for j in y_list]

print(result)

Enter x: 5
Enter y: 8
[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5], [0, 6], [0, 7], [1, 0], [1, 1], [1, 2], [1, 3], [1, 4], [1, 5], [1, 6], [1, 7], [2, 0], [2, 1], [2, 2], [2, 3], [2, 4], [2, 5], [2, 6], [2, 7], [3, 0], [3, 1], [3, 2], [3, 3], [3, 4], [3, 5], [3, 6], [3, 7], [4, 0], [4, 1], [4, 2], [4, 3], [4, 4], [4, 5], [4, 6], [4, 7]]

Q17 - Q21 are Theory que

In [ ]:
#22.Create sets and perform set operations
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{5, 6}

In [ ]:
#23.Create list l1 and perform set operation with s1
l1 = [2, 3, 7, 8]

print(s1.union(l1))
print(s1.intersection(l1))
print(s1.difference(l1))

{1, 2, 3, 4, 7, 8}
{2, 3}
{1, 4}

In [ ]:
#24. Generate password using name and DOB (@ddmm)
name = input("Enter name: ")
dob = input("Enter DOB (dd-mm-yyyy): ")

day = dob[0:2]
month = dob[3:5]

password = name[0:4] + "@" + day + month
print(password)

Enter name: Sanika
Enter DOB (dd-mm-yyyy): 28-03-2004
Sani@2803

In [ ]:
#25. Generate password using name and DOB (@yyyy)
name = input("Enter name: ")
dob = input("Enter DOB (dd-mm-yyyy): ")

year = dob[6:10]

password = name[0:4] + "@" + year
print(password)

Enter name: Sanika
Enter DOB (dd-mm-yyyy): 28-03-2004
Sani@2004

In [ ]:
#26. Create the given pattern
for i in range(1, 5):
    for j in range(i):
        print("*", end=" ")
    print()

* * * *

In [ ]:
#27. Create the reverse star pattern
for i in range(4, 0, -1):
    print("*" * i)

****
***
**
*

In [ ]:
#28. Pattern using string "ABCD"
str_val = "ABCD"

for i in range(len(str_val)):
    for j in range(i + 1):
        print(str_val[j], end=" ")
    print()

A
A B
A B C
A B C D

In [ ]:
#29. Create character repetition pattern
str_val = "ABCD"

for i in range(len(str_val)):
    print(str_val[i] * (i + 1))

A
BB
CCC
DDDD

In [ ]:
#30. Create number pattern
for i in range(1, 5):
    print(str(i) * i)

1
22
333
4444

In [ ]:
#31. Pattern based on Val = "ABCD"
val = "ABCD"

for i in range(len(val)):
    print(val[::-1][0:i+1])

D
DC
DCB
DCBA

In [ ]:
#32. Reverse growing string pattern
s = input("Enter string: ")
rev = s[::-1]

for i in range(len(rev)):
    print(rev[0:i+1])

Enter string: Hello
o
ol
oll
olle
olleH

In [ ]:
#33. Create list of odd numbers from 1 to 10
odd = []

for i in range(1, 11):
    if i % 2 != 0:
        odd.append(i)

print(odd)

[1, 3, 5, 7, 9]

In [ ]:
#34. Create even number list from 200 to 250
even = []

for i in range(200, 251):
    if i % 2 == 0:
        even.append(i)

print(even)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

In [ ]:
#35. Multiply each element of list2 by 2 and display
list2 = [2, 70, 'work', 2.5, [1, 2, 3], (1, 2), {1, 2}, {1:'a', 2:'b'}, 3, 10, 302.5]

for i in list2:
    if type(i) == int or type(i) == float:
        print(i * 2)
    elif type(i) == str:
        print(i * 2)
    elif type(i) == list:
        print(i + i)
    elif type(i) == tuple:
        print(i + i)
    elif type(i) == set:
        print(i.union(i))
    elif type(i) == dict:
        print(i)

4
140
workwork
5.0
[1, 2, 3, 1, 2, 3]
(1, 2, 1, 2)
{1, 2}
{1: 'a', 2: 'b'}
6
20
605.0

In [ ]:
#36. Multiply each element from list2 by 2 and store in list3
para = "para"

list2 = [2, 70, 'work', para, 2.5, [1, 2, 3], (1, 2), {1, 2}, {1:'a', 2:'b'}, 3, 10, 302.5]

list3 = []

for i in list2:
    if type(i) == int or type(i) == float:
        list3.append(i * 2)
    elif type(i) == str:
        list3.append(i * 2)
    elif type(i) == list:
        list3.append(i + i)
    elif type(i) == tuple:
        list3.append(i + i)
    elif type(i) == set:
        list3.append(i.union(i))
    elif type(i) == dict:
        list3.append(i)

print(list3)

[4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), {1, 2}, {1: 'a', 2: 'b'}, 6, 20, 605.0]

In [ ]:
#37. Function to accept marks and validate using exception
def get_marks():
    try:
        marks = int(input("Enter marks: "))
        if marks < 0 or marks > 100:
            print("Invalid marks")
        else:
            print("Valid marks:", marks)
    except:
        print("Enter numbers only")

get_marks()

Enter marks: 85
Valid marks: 85

In [ ]:
#38. Function to validate first name / last name
def validate_name(name):
    if name.isalpha():
        print("Valid name")
    else:
        print("Invalid name")

fname = input("Enter first name: ")
lname = input("Enter last name: ")

validate_name(fname)
validate_name(lname)

Enter first name: sanika
Enter last name: thete
Valid name
Valid name

In [ ]:
#39. Function to validate mobile number
def validate_mobile(mobile):
    if mobile.isdigit() and len(mobile) == 10:
        print("Valid mobile number")
    else:
        print("Invalid mobile number")

mobile = input("Enter mobile number: ")
validate_mobile(mobile)

Enter mobile number: 8830624340
Valid mobile number

In [1]:
#40. Create a function to generate auto-password based on name and DOB.
# Password must be First name first 4 characters + Year of birth

def auto_password():
    name = input("Enter full name: ")
    dob = input("Enter DOB (DD-MM-YYYY): ")

    first_name = name.split()[0]
    first4 = first_name[:4]
    year = dob.split("-")[2]

    password = first4 + year
    print("Generated Password:", password)

auto_password()

Enter full name: Sanika Nitin Thete
Enter DOB (DD-MM-YYYY): 28-03-2004
Generated Password: Sani2004

In [2]:
#41. Create dictionary and store customer details with auto increasing customer number

cust_dict = {}
cust_no = 1

while True:
    name = input("Enter Name: ")
    dob = input("Enter DOB: ")
    mobile = input("Enter Mobile: ")

    cust_dict[cust_no] = {
        "name": name,
        "DOB": dob,
        "mobile": mobile
    }

    cust_no += 1

    ch = input("Add more? (y/n): ")
    if ch.lower() != 'y':
        break

print(cust_dict)

Enter Name: sanika
Enter DOB: 28-03-2004
Enter Mobile: 8830624340
Add more? (y/n): n
{1: {'name': 'sanika', 'DOB': '28-03-2004', 'mobile': '8830624340'}}

In [3]:
#42. Save dictionary into cust_info.txt file

cust_dict = {1: {"name": "Sachin", "DOB": "21-06-1965", "mobile": "1234123423"}}

file = open("cust_info.txt", "w")
file.write(str(cust_dict))
file.close()

print("Data saved in file")

Data saved in file

In [4]:
#45. Sort dictionary based on inner values

Dict1 = {
    "Key": {"subkey": 20},
    "k2": {"sub2": 5},
    "k3": {"sub4": 16},
    "k4": {"sub4": 6}
}

sorted_dict = dict(sorted(Dict1.items(), key=lambda x: list(x[1].values())[0]))

print(sorted_dict)

{'k2': {'sub2': 5}, 'k4': {'sub4': 6}, 'k3': {'sub4': 16}, 'Key': {'subkey': 20}}

In [5]:
#46. Function to calculate age till now

from datetime import datetime

def calculate_age(dob):
    dob_date = datetime.strptime(dob, "%d-%m-%Y")
    today = datetime.today()
    age = today.year - dob_date.year
    print("Age:", age)

calculate_age("01-01-2000")

Age: 26

In [6]:
#47. Check eligibility based on DOB and eligibility age

from datetime import datetime

def check_eligibility(dob, elig_age):
    dob_date = datetime.strptime(dob, "%d-%m-%Y")
    today = datetime.today()
    age = today.year - dob_date.year

    if age >= elig_age:
        print("Eligible")
    else:
        print("Not Eligible")

check_eligibility("01-01-2005", 18)

Eligible

In [7]:
#48. Check string is palindrome or not

def palindrome_check():
    s = input("Enter String: ")

    if s == s[::-1]:
        print("Palindrome")
    else:
        print("Not Palindrome")

palindrome_check()

Enter String: nitin
Palindrome

In [8]:
#49. Fibonacci Series upto 100

def fibonacci():
    a = 0
    b = 1

    while a <= 100:
        print(a, end=" ")
        c = a + b
        a = b
        b = c

fibonacci()

0 1 1 2 3 5 8 13 21 34 55 89

In [9]:
#50. Factorial of number

def factorial():
    n = int(input("Enter Number: "))
    fact = 1

    for i in range(1, n+1):
        fact = fact * i

    print("Factorial =", fact)

factorial()

Enter Number: 5
Factorial = 120

In [10]:
#51. Find largest number in list

l = [10, 45, 22, 89, 5]

largest = l[0]

for i in l:
    if i > largest:
        largest = i

print("Largest:", largest)

Largest: 89

In [11]:
#52. Frequency of elements in list

l = [1,2,2,3,3,3,4,4,4,4]

freq = {}

for i in l:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1

print(freq)

{1: 1, 2: 2, 3: 3, 4: 4}

In [12]:
#53. Find common elements in two lists

l1 = [1,2,3,4,5]
l2 = [3,2,8,7,9]

common = []

for i in l1:
    if i in l2:
        common.append(i)

print("Common Elements:", common)

Common Elements: [2, 3]

In [ ]:
#56.Billing generator
sr=input("Enter sr no:")
menu=input("Enter menu:")
quant=input("Enter quantity:")
price=input("Enter price:")
print('='*80)
hotel_name='Welcome to Sai Anand'
print('{:^80}'.format(hotel_name))
print('='*80)
print('{0:5}{1:^25}{2:>8}{3:>20}'.format('Sr','Menu','quant','price'))
print('{0:5}{1:^25}{2:>8}{3:>20}'.format(sr,menu,quant,price))
print('-'*80)
Total=int(quant)*int(price)
print('Total {0:10}'.format(Total))

Enter sr no:1
Enter menu:Poha
Enter quantity:2
Enter price:25
================================================================================
                              Welcome to Sai Anand
================================================================================
Sr             Menu              quant               price
1              Poha                  2                  25
--------------------------------------------------------------------------------
Total         50

In [ ]:
#bill printing using class
class Bill:
    def __init__(self):
        self.items=[]

    def getdata(self):
        n=int(input("How many items: "))
        for i in range(n):
            print("Item",i+1)
            sr=input("Enter sr no: ")
            menu=input("Enter menu: ")
            quant=input("Enter quantity: ")
            price=input("Enter price: ")
            self.items.append([sr,menu,quant,price])

    def showbill(self):
        print("="*80)
        hotel_name="Welcome to Sai Anand"
        print("{:^80}".format(hotel_name))
        print("="*80)
        print("{0:5}{1:^25}{2:>10}{3:>20}".format("Sr","Menu","Quant","Price"))

        total=0
        for i in self.items:
            print("{0:5}{1:^25}{2:>10}{3:>20}".format(i[0],i[1],i[2],i[3]))
            total=total+(int(i[2])*int(i[3]))

        print("-"*80)
        print("Total :",total)

b=Bill()
b.getdata()
b.showbill()

How many items: 2
Item 1
Enter sr no: 1
Enter menu: paneer
Enter quantity: 1
Enter price: 200
Item 2
Enter sr no: 2
Enter menu: roti
Enter quantity: 3
Enter price: 30
================================================================================
                              Welcome to Sai Anand
================================================================================
Sr             Menu                Quant               Price
1             paneer                   1                 200
2              roti                    3                  30
--------------------------------------------------------------------------------
Total : 290

In [ ]:
#try except
items=[]

try:
    n=int(input("How many items: "))

    for i in range(n):
        print("Item",i+1)
        sr=input("Enter sr no: ")
        menu=input("Enter menu: ")
        quant=input("Enter quantity: ")
        price=input("Enter price: ")
        items.append([sr,menu,quant,price])

    print("="*80)
    hotel_name="Welcome to Sai Anand"
    print("{:^80}".format(hotel_name))
    print("="*80)
    print("{0:5}{1:^25}{2:>10}{3:>20}".format("Sr","Menu","Quant","Price"))

    total=0
    for i in items:
        print("{0:5}{1:^25}{2:>10}{3:>20}".format(i[0],i[1],i[2],i[3]))
        total=total+(int(i[2])*int(i[3]))

    print("-"*80)
    print("Total :",total)

except:
    print("Invalid input")

How many items: 2
Item 1
Enter sr no: 1
Enter menu: paneer
Enter quantity: 1
Enter price: 200
Item 2
Enter sr no: 2
Enter menu: roti
Enter quantity: 1
Enter price: 15
================================================================================
                              Welcome to Sai Anand
================================================================================
Sr             Menu                Quant               Price
1             paneer                   1                 200
2              roti                    1                  15
--------------------------------------------------------------------------------
Total : 215

In [ ]:
#bill printing with function
def getdata():
    items=[]
    n=int(input("How many items: "))
    for i in range(n):
        print("Item",i+1)
        sr=input("Enter sr no: ")
        menu=input("Enter menu: ")
        quant=input("Enter quantity: ")
        price=input("Enter price: ")
        items.append([sr,menu,quant,price])
    return items

def showbill(items):
    print("="*80)
    hotel_name="Welcome to Sai Anand"
    print("{:^80}".format(hotel_name))
    print("="*80)
    print("{0:5}{1:^25}{2:>10}{3:>20}".format("Sr","Menu","Quant","Price"))

    total=0
    for i in items:
        print("{0:5}{1:^25}{2:>10}{3:>20}".format(i[0],i[1],i[2],i[3]))
        total=total+(int(i[2])*int(i[3]))

    print("-"*80)
    print("Total :",total)

data=getdata()
showbill(data)

How many items: 2
Item 1
Enter sr no: 1
Enter menu: paneer
Enter quantity: 1
Enter price: 200
Item 2
Enter sr no: 2
Enter menu: roti
Enter quantity: 3
Enter price: 30
================================================================================
                              Welcome to Sai Anand
================================================================================
Sr             Menu                Quant               Price
1             paneer                   1                 200
2              roti                    3                  30
--------------------------------------------------------------------------------
Total : 290

In [ ]:
#using oops
class Bill:
    def __init__(self):
        self.items=[]

    def getdata(self):
        try:
            n=int(input("How many items: "))
            for i in range(n):
                print("Item",i+1)
                sr=input("Enter sr no: ")
                menu=input("Enter menu: ")
                quant=input("Enter quantity: ")
                price=input("Enter price: ")
                self.items.append([sr,menu,quant,price])
        except ValueError:
            print("Invalid input")

    def showbill(self):
        print("="*80)
        hotel_name="Welcome to Sai Anand"
        print("{:^80}".format(hotel_name))
        print("="*80)
        print("{0:5}{1:^25}{2:>10}{3:>20}".format("Sr","Menu","Quant","Price"))

        total=0
        for i in self.items:
            print("{0:5}{1:^25}{2:>10}{3:>20}".format(i[0],i[1],i[2],i[3]))
            try:
                total=total+(int(i[2])*int(i[3]))
            except ValueError:
                print("Invalid quantity or price")

        print("-"*80)
        print("Total :",total)

b=Bill()
b.getdata()
b.showbill()

How many items: 2
Item 1
Enter sr no: 1
Enter menu: paneer
Enter quantity: 1
Enter price: 200
Item 2
Enter sr no: 2
Enter menu: roti
Enter quantity: 3
Enter price: 15
================================================================================
                              Welcome to Sai Anand
================================================================================
Sr             Menu                Quant               Price
1             paneer                   1                 200
2              roti                    3                  15
--------------------------------------------------------------------------------
Total : 245

In [ ]:
class CollegeBill:
    def __init__(self):
        self.subject=""
        self.analytics="N"
        self.hostel="N"
        self.food_months=0
        self.transport=""
        self.total=0

    def getdata(self):
        try:
            self.subject=input("Enter subject (HR/Finance/Marketing/DS): ")
            if self.subject!="DS":
                self.analytics=input("Analytics Y/N: ").upper()
            else:
                self.analytics="N"

            self.hostel=input("Hostel Y/N: ").upper()
            self.food_months=int(input("Food months: "))
            self.transport=input("Transport (semester/annual): ").lower()
        except:
            print("Invalid input")

    def calculate(self):
        course_fee=200000

        if self.analytics=="Y":
            course_fee=course_fee+(200000*0.10)

        hostel_fee=0
        if self.hostel=="Y":
            hostel_fee=200000

        food_cost=self.food_months*2000

        if self.transport=="semester":
            transport_cost=13000
        elif self.transport=="annual":
            transport_cost=26000
        else:
            transport_cost=0

        self.total=course_fee+hostel_fee+food_cost+transport_cost

    def showbill(self):
        print("="*60)
        print("COLLEGE BILL")
        print("="*60)
        print("Subject :",self.subject)
        print("Analytics :",self.analytics)
        print("Hostel :",self.hostel)
        print("Food Cost :",self.food_months*2000)
        print("Transport :",self.transport)
        print("-"*60)
        print("Total :",self.total)

c=CollegeBill()
c.getdata()
c.calculate()
c.showbill()

Enter subject (HR/Finance/Marketing/DS): ds
Analytics Y/N: y
Hostel Y/N: y
Food months: 3
Transport (semester/annual): semster
============================================================
COLLEGE BILL
============================================================
Subject : ds
Analytics : Y
Hostel : Y
Food Cost : 6000
Transport : semster
------------------------------------------------------------
Total : 426000.0