Comprehensive

In [1]:
#1. Write a list comprehension to generate squares of numbers from 1 to 10.
sq= [i*i for i in range(1,11)]
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
#2.Create a list of even numbers between 1 and 50 using list comprehension.
even= [i for i in range(1,51) if i%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [5]:
#3.Convert all strings in a list to uppercase using list comprehension.
lst1 = ["apple","cat","dog"]
upper_lst = [i.upper() for i in lst1]
print(upper_lst)

['APPLE', 'CAT', 'DOG']

In [8]:
#4.Given a list of integers, create a new list that contains only positive numbers.
nums = [-2,5,-1,7,3]
pos = [i for i in nums if i>0]
print(pos)

[5, 7, 3]

In [12]:
#5. Create a list of tuples (num, num^2) for numbers 1 to 5.
tup = [(i,i*i) for i in range(1,6)]
print(tup)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [15]:
#6.Extract all vowels from a given string using list comprehension.
s = "data science"
vowels = [i for i in s if i in "aeiou"]
print(vowels)

['a', 'a', 'i', 'e', 'e']

In [17]:
#7. Flatten a 2D list using list comprehension.
l = [[1,2],[3,4],[5,6]]
flat = [j for i in l for j in i]
print(flat)

[1, 2, 3, 4, 5, 6]

In [19]:
#8.Replace all negative numbers in a list with 0 using list comprehension.
num= [-3,4,-1,5]
new_num= [i if i>=0 else 0 for i in num]
print(new_num)

[0, 4, 0, 5]

In [22]:
#9.Given a list of words, create a list of lengths of each word.
words = ["data","science","python"]
lengths = [len(i) for i in words]
print(lengths)

[4, 7, 6]

In [26]:
#10. Filter out words that start with the letter 'A' or 'a'.
words = ["Apple","ball","ant","cat"]
filtered = [i for i in words if not i.lower().startswith("a")]
print(filtered)

['ball', 'cat']

In [27]:
#11..From a list of numbers, generate a list of “even” or “odd” strings.
nums = [1,2,3,4]
eo = ["even" if i%2==0 else "odd" for i in nums]
print(eo)

['odd', 'even', 'odd', 'even']

In [28]:
#12. Create a list of numbers divisible by both 3 and 5 in range 1–100.
div = [i for i in range(1,101) if i%3==0 and i%5==0]
print(div)

[15, 30, 45, 60, 75, 90]

In [29]:
#13.Write a nested list comprehension to generate a multiplication table for 1–5.
table = [[i*j for j in range(1,6)] for i in range(1,6)]
print(table)

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]

In [32]:
#14.Convert a dictionary’s keys into a list using list comprehension.
d = {"a":1,"b":2,"c":3}
keys = [k for k in d]
print(keys)

['a', 'b', 'c']

In [34]:
#15.Extract numeric digits from a string using list comprehension.
s = "a1b2c3"
digits = [i for i in s if i.isdigit()]
print(digits)

['1', '2', '3']

In [38]:
#16.Use list comprehension to remove all spaces from a string.
s = "data science python"
no_space = [i for i in s if i!=" "]
print(no_space)

['d', 'a', 't', 'a', 's', 'c', 'i', 'e', 'n', 'c', 'e', 'p', 'y', 't', 'h', 'o', 'n']

In [41]:
#17.Create a list of characters that appear more than once in a string.
s = "programming"
multi = [i for i in set(s) if s.count(i)>1]
print(multi)

['m', 'r', 'g']

In [43]:
#18.From a list of sentences, generate a list of all words.
sent = ["I love python","Data science is good"]
words = [j for i in sent for j in i.split()]
print(words)

['I', 'love', 'python', 'Data', 'science', 'is', 'good']

In [44]:
#19. Create a list of unique elements from a list using list comprehension + condition.
lst = [1,2,2,3,4,4,5]
unique = [i for i in set(lst)]
print(unique)

[1, 2, 3, 4, 5]

In [45]:
#20.Generate all pairs (x, y) where x is from list A and y is from list B.
A = [1,2]
B = [3,4]
pairs = [(x,y) for x in A for y in B]
print(pairs)

[(1, 3), (1, 4), (2, 3), (2, 4)]

Lambda

In [46]:
#1.Write a lambda to add two numbers.
add = lambda a,b: a+b
print(add(2,3))

5

In [47]:
# 2. Create a lambda to check if a number is even.
even = lambda x: x%2==0
print(even(4))

True

In [48]:
# 3. Write a lambda to get the last character of a string.
last = lambda s: s[-1]
print(last("data"))

a

In [50]:
#4.Use lambda with map() to square every number in a list.
nums = [1,2,3]
sq = list(map(lambda x:x*x, nums))
print(sq)

[1, 4, 9]

In [53]:
#Q5.Use lambda with filter() to get only odd numbers from a list.
nums = [1,2,3,4,5]
odd = list(filter(lambda x:x%2!=0, nums))
print(odd)

[1, 3, 5]

In [54]:
#6Use sorted() + lambda to sort a list of tuples by second value.
t = [(1,3),(2,1),(4,2)]
sorted_t = sorted(t, key=lambda x:x[1])
print(sorted_t)

[(2, 1), (4, 2), (1, 3)]

In [55]:
# 7.Create a lambda to check if a string is a palindrome.
pal = lambda s: s==s[::-1]
print(pal("madam"))

True

In [57]:
#8.Use lambda to find maximum of three numbers.
mx = lambda a,b,c: max(a,b,c)
print(mx(2,5,3))

5

In [58]:
#9.Write a lambda to reverse a string.
rev = lambda s: s[::-1]
print(rev("python"))

nohtyp

In [59]:
#10.Use lambda with map() to convert a list of strings to integers.
lst = ["1","2","3"]
ints = list(map(lambda x:int(x), lst))
print(ints)

[1, 2, 3]